<h2>Mis Avisos</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <%= render current_user.advertisements %>
</table>

<p>
  <%= link_to 'Avisos', advertisements_path %>
</p>
