<h1>Listing advertisements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Price</th>
    <th>Vendedor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= render @advertisements %>
</table>

<br />

<%= link_to 'New Advertisement', new_advertisement_path %>
